.footer__nav {
    margin-bottom: 49px;
    width: 100%;
}
.footer__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.8px;
    color: #000000;
    padding: 60px 50px 24px 0;
}
.footer__line {
    border-top: 1px solid #EFEFEF;
    max-width: 255px;
}
.footer__nav-navigation {
    display: inline-block;
    border: 1px solid white;
    width: 23%;
}
.pl25 {
    padding-left: 25px;
}
.pl50 {
    padding-left: 50px;
}
.pl75 {
    padding-left: 75px;
}
.footer__desc {
    padding-top: 24px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    padding-right: 24px;
}
.footer__desc-click {
    color: #828282;
}
.footer__line-bottom {
    border-top: 1px solid #EFEFEF;
    margin-bottom: 36px;
}
.footer__sety-pink-nav {
    background-image: url(../beauty/круг.png);
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.footer__sety-pink {
    margin-right: 15px;
    float: left;
}
.round {
    margin: 15px 11px;
}
.round:hover {
    width: 24px;
    height: 17px;
}
.round1 {
    margin: 15px 8px;
}
.round1:hover {
    width: 30px;
    height: 17px;
}
.round2 {
    margin: 12px 16px
}
.round2:hover {
    width: 13px;
    height: 21px;
}
.round3 {
    margin: 11px 11px;
}
.round3:hover {
    width: 24px;
    height: 24px;
}
.footer__sety {
    margin-bottom: 37px;

}
.footer__line-pink {
    border-top: 1px solid #EFEFEF;
    margin-bottom: 36px;
}
.footer__group-contact {
    float: right;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 4px;
}

.footer__best {
    padding-top: 24px;
    padding-bottom: 40px;
}
.footer__best-shop-ruls {
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}
.footer__best-shop-polit {
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    transition: all ease-in-out 0.3s;
}
.footer__best-shop-polit:hover {
    color: #4d4d4d;
}
.footer__line-best {
    border-top: 1px solid #EFEFEF;
}